li {
  font-size: 30.5px;
}

ul {
	list-style-type: none;
	padding: 5;
	margin: 0;
	position: absolute;
	top: 4px;
	left: 1px;
	width: 182px;
	height: 894px;
	}

	
	aside{
		float:left;
		width: 70%;
		display:block;
	}
	
	
	section {
		float:left;
		width: 170%;
		display:block;
		
	}
	
	
	header{
		width:100%;
		display:block;
		
	}
	
	header img{
		width:100%;
		display:block;
		
	}
	
	
	footer {
		float:right;
		clear:both;
		width:145%;
		
	}
	
	footer img {
		width: 18%;
		display:inline;
		float:left;
	}


header h1{
	padding: 0;
	margin:0;
}
h1 {
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:gainsboro;
	text-align: center;
	font-size: 3em;
		
}

.navbar li{
	background-color: gainsboro;
	border: 1px solid black;
	margin: 0.5em 0;
	
}

footer img {
	margin:0.5em;
}

.right{
	text-align: right;
	width:50%;
	display:block;
    font-size: 4em;
	float:right;
}

input{
	padding:1em;
	border: 1px solid black;
	margin:1em;
	font-size: 1.5em;
	width:40%;
}

.submit input{
	background-color:aqua;
	width:80%;
	margin: 0 auto;
}

form{
	margin: 0 5% 20% 5%;
}

.col {
	width:40%;
	float:left;
}
